### Mod 1 Project --- Data Movie

In [1]:
#top 50 lucrative movies from  tn_movie_budgets and bom_movie_gross   (find their ratings)
# most (top50) popular movies from tmdb_movies
# highest(top 50) ratings from imdb_title_ratings

# select common movies from above list
#find their genre, directors

### Import libraries & database

In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\yazan\anaconda3\lib\site-packages (8.0.20)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\yazan\anaconda3\lib\site-packages (from mysql-connector-python) (3.12.2)
Requirement already satisfied: setuptools in c:\users\yazan\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (45.2.0.post20200210)
Requirement already satisfied: six>=1.9 in c:\users\yazan\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.14.0)

In [3]:
import pandas as pd
import numpy as np
import mysql.connector
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
con = mysql.connector.connect(user='hbs-student', password='super-secure-password?',
                              host='hbs-ds-060120.c1doesqrid0e.us-east-1.rds.amazonaws.com',
                              database='movies')
cur = con.cursor()

# Data Cleaning

### IMDB Titles

In [ ]:
query = ('''
SELECT *
FROM imdb_title_akas imdb_a
JOIN imdb_title_basics imdb_b ON imdb_a.title_id = imdb_b.tconst
JOIN imdb_title_crew imdb_c ON imdb_b.tconst = imdb_c.tconst
JOIN imdb_title_principals imdb_d ON imdb_b.tconst = imdb_d.tconst
JOIN imdb_title_ratings imdb_e ON imdb_b.tconst = imdb_e.tconst
''')
imdb_titles = pd.read_sql_query(query, con)
#joining all IMDB title tables using title ids and name ids

In [ ]:
imdb_titles.isna().sum()
#checking for null values

In [ ]:
imdb_titles = imdb_titles.dropna(subset=['runtime_minutes'])
imdb_titles = imdb_titles.dropna(subset=['writers'])
#Removing rows with null values for runtime minutes and writers

### IMDB Crew

In [ ]:
query = ('''
SELECT *
FROM imdb_name_basics
''')
imdb_crew = pd.read_sql_query(query, con)

In [ ]:
imdb_crew.isna().sum()
# Checking for null values

In [ ]:
imdb_crew.info()

In [ ]:

#dropping these two columns due to large amount of null values and lack of relevancy for analysis
#Take out all rows with death years.
#Create new column for age

In [ ]:
imdb_crew.head()

In [ ]:
imdb_crew['known_for_titles']

In [ ]:
query = ('''
SELECT tconst, primary_title
FROM imdb_title_basics
''')
imdb_key = pd.read_sql_query(query, con)
#Creating a key to identify which title_ids correspond to which titles

In [ ]:
imdb_titles.head()

In [ ]:
imdb_key

In [ ]:
imdb_crew = imdb_crew.assign(known_for_titles=imdb_crew['known_for_titles'].str.split(',')).explode('known_for_titles')
# Separating the title IDs in the "known for" column

In [ ]:
type(imdb_key)

In [ ]:
imdb_crew_with_key = imdb_crew.merge(imdb_key, how='left', left_on='known_for_titles', right_on='tconst')
# Trying to match "known for" title codes with film names

In [ ]:
imdb_crew_with_key = imdb_crew_with_key.dropna(subset=['tconst','primary_title'])

In [ ]:
imdb_crew_with_key.head()

### BOM

In [ ]:
query = ('''
SELECT * FROM bom_movie_gross
''')
bom = pd.read_sql_query(query, con)

In [ ]:
#drop Null value in domestic_gross
bom = bom.dropna(subset =['domestic_gross'])

#convert Null value in foreign_gross to 0
bom.foreign_gross = bom.foreign_gross.fillna(0)

#convert domestic_gross and foreign_gross from float to int
bom.domestic_gross = bom.domestic_gross.map(lambda x: int(x))   
bom.foreign_gross = bom.foreign_gross.map(lambda x: int(x))

In [ ]:
#remove spaces on both end of strings
bom.title = bom.title.map(lambda x: x.strip())
bom.studio = bom.studio.map(lambda x: x.strip())

In [ ]:
bom.info()

### TN

In [ ]:
query_tn = ('''
SELECT * FROM tn_movie_budgets
''')
tn = pd.read_sql_query(query_tn, con)

In [ ]:
# convert release_date to date format
tn.release_date = tn.release_date.map(lambda x: dt.datetime.strptime(x, '%b %d, %Y'))

# convert production_budget, domestic_gross, worldwide_gross to date format
tn.production_budget = tn.production_budget.map(lambda x: int(x.replace(',','').replace('$','')))
tn.domestic_gross = tn.domestic_gross.map(lambda x: int(x.replace(',','').replace('$','')))
tn.worldwide_gross = tn.worldwide_gross.map(lambda x: int(x.replace(',','').replace('$','')))

#add profit column
tn['profit'] = tn.worldwide_gross - tn.production_budget

In [ ]:
#remove spaces on both end of strings
tn.movie = tn.movie.map(lambda x: x.strip())

In [ ]:
tn.info()

### TMDB

In [ ]:
query_tmdb = ('''
SELECT * FROM tmdb_movies
''')
tmdb = pd.read_sql_query(query_tmdb, con)

In [ ]:
query_tmdb_link = ('''
SELECT * FROM tmdb_imdb_link
''')
tmdb_link = pd.read_sql_query(query_tmdb_link, con)

In [ ]:
#convert genre_ids to int
tmdb.genre_ids.map(lambda x: int(x))

#remove spaces on both end of strings
tmdb.original_language = tmdb.original_language.map(lambda x: x.strip())
tmdb.original_title = tmdb.original_title.map(lambda x: x.strip())
tmdb.title = tmdb.title.map(lambda x: x.strip())

In [ ]:
#Join tmdb and tmdb_link tables
tmdb = tmdb.join(tmdb_link.set_index('tmdb_id'), on = 'id', how = 'left')

In [ ]:
#clean the joined table
tmdb.imdb_id = tmdb.imdb_id.fillna(0).map(lambda x: int(x))

In [ ]:
tmdb.info()

### RT

In [ ]:
query_rt_info = ('''
SELECT * FROM rt_movie_info
''')
rt_info = pd.read_sql_query(query_rt_info, con)

In [ ]:
query_rt_reviews = ('''
SELECT * FROM rt_reviews
''')
rt_reviews = pd.read_sql_query(query_rt_reviews, con)

In [ ]:
query_rt_link = ('''
SELECT * FROM rt_imdb_link
''')
rt_link = pd.read_sql_query(query_rt_link, con)

In [ ]:
rt_info.info()

### RT_Info Cleaning

In [ ]:
#replace empty value in theater_date and dvd_date with Jan 1,1000
rt_info['theater_date'].loc[rt_info.theater_date == ''] = 'Jan 1, 1000'
rt_info['dvd_date'].loc[rt_info.dvd_date == ''] = 'Jan 1, 1000'

In [ ]:
#convert theater_date and dvd_date to datetime format
rt_info.theater_date = rt_info.theater_date.map(lambda x: dt.datetime.strptime(x, '%b %d, %Y').date())
rt_info.dvd_date = rt_info.dvd_date.map(lambda x: dt.datetime.strptime(x, '%b %d, %Y').date())

In [ ]:
#clean box_office date
rt_info['box_office'].loc[rt_info.box_office == ''] = '0'
rt_info['box_office'] = rt_info.box_office.map(lambda x: int(x.replace(',', '')))

In [ ]:
#clean runtime (replace empty value with 0)
rt_info['runtime'].loc[rt_info.runtime == ''] = '0'
rt_info['runtime'] = rt_info.runtime.map(lambda x: int(x.replace('minutes', '')))

In [ ]:
#remove spaces on both end of strings
rt_info.synopsis = rt_info.synopsis.map(lambda x: x.strip())
rt_info.rating = rt_info.rating.map(lambda x: x.strip())
rt_info.genre = rt_info.genre.map(lambda x: x.strip())
rt_info.director = rt_info.director.map(lambda x: x.strip())
rt_info.writer = rt_info.writer.map(lambda x: x.strip())

In [ ]:
rt_info.info()

### RT_Reviews Cleaning

In [ ]:
#convert date to datetime format
rt_reviews.date = rt_reviews.date.map(lambda x: dt.datetime.strptime(x, '%B %d, %Y').date())

In [ ]:
#convert top_critic to int
rt_reviews.top_critic = rt_reviews.top_critic.map(lambda x: int(x))

In [ ]:
#remove spaces on both end of strings
rt_reviews.review = rt_reviews.review.map(lambda x: x.strip())
rt_reviews.rating = rt_reviews.rating.map(lambda x: x.strip())
rt_reviews.fresh = rt_reviews.fresh.map(lambda x: x.strip())
rt_reviews.critic = rt_reviews.critic.map(lambda x: x.strip())
rt_reviews.publisher = rt_reviews.publisher.map(lambda x: x.strip())

In [ ]:
rt_reviews.info()

### RT_link cleaning

In [ ]:
rt_link.year = rt_link.year.fillna(1000)

In [ ]:
rt_link.info()

In [ ]:
#replace empty space to year 1000 in year
rt_link.year = rt_link.year.fillna(1000)

#convert date to datetime format
rt_link.year = rt_link.year.map(lambda x: (int(x)))

In [ ]:
#replace empty space in runtime to 0
rt_link['runtime'].loc[rt_link.runtime == ''] = '0'

#convert runtime to int format
rt_link.runtime = rt_link.runtime.map(lambda x: (int(x)))

In [ ]:
rt_link.info()

In [ ]:
rt_link.shape

# Bringing Them All Together

# Top 200 Lucrative Movies

### BOM Database

In [ ]:
# get top 200 lucrative domestic movies
bom_top200_domestic = bom.sort_values('domestic_gross', ascending = False).head(200)

### TN Database

In [ ]:
# get top 200 revenue domestic movies
tn_top200_domestic = tn.sort_values('domestic_gross',ascending=False).head(200)

# get top 200 revenue worldwide movies
tn_top200_world = tn.sort_values('worldwide_gross',ascending=False).head(200)

# get top 200 profit movies
tn_top200_profit = tn.sort_values('profit',ascending=False).head(200)